@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  /* padding: 0;
  margin: 0; */
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  background: #000000d4;
  /* background: -moz-linear-gradient(90deg, rgba(15, 23, 42, 1) 0%, rgba(37, 48, 64, 1) 57%);
  background: -webkit-linear-gradient(90deg, rgba(15, 23, 42, 1) 0%, rgba(37, 48, 64, 1) 57%);
  background: linear-gradient(90deg, rgba(15, 23, 42, 1) 0%, rgba(37, 48, 64, 1) 57%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f172a",endColorstr="#253040",GradientType=1); */
}
img,
svg {
  max-width: 100%;
  display: block;
}

svg {
  width: 100% !important;
  height: 100% !important;
}

input,
textarea,
select {
  font: inherit;
}

/* Style for WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar:hover {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent; /* color of the track (the area behind the thumb) */
}

::-webkit-scrollbar-thumb {
  background-color: #c2c2c2; /* color of the thumb (the draggable part) */
  border-radius: 6px;
  cursor: pointer;
}

/* scrollbar width */
* {
  scrollbar-width: 1px;
}

@media (prefers-color-scheme: dark) {
}

button {
  flex-direction: row;
  border-radius: 0.5rem;
  background-color: #545454;
  /* color: #00000054; */
}
